00401.xml
__pycache__/assertion.cpython-36.pyc
.idea/libraries/R_User_Library.xml
.idea/Klasifikacija zubi basic.iml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
.idea/[BSc] Teeth detection and classification.iml
.idea/encodings.xml
.idea/vcs.xml
.idea/
